*{
    margin:0;
    padding:0;
}
h1{
    text-align: center;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#bg-video{
  position:fixed;
  top:0; left:0;
  width:100%; height:100%;
  object-fit:cover;
  z-index:-1;
}
#canvas{
    border: 2px solid;
    background-color: aliceblue;
}